In [22]:
import pandas as pd
from pathlib import Path
from sklearn.neighbors import DistanceMetric
import numpy as np

In [5]:
jan = Path("1_January/202301-citibike-tripdata_1.csv")
jan_df = pd.read_csv(jan)

feb = Path("2_February/202302-citibike-tripdata_1.csv")
feb_df = pd.read_csv(feb)

march = Path("3_March/202303-citibike-tripdata_1.csv")
march_df = pd.read_csv(march)

april = Path("4_April/202304-citibike-tripdata_1.csv")
april_df = pd.read_csv(april)

may = Path("5_May/202305-citibike-tripdata_1.csv")
may_df = pd.read_csv(may)

june = Path("6_June/202306-citibike-tripdata_1.csv")
june_df = pd.read_csv(june)

july = Path("7_July/202307-citibike-tripdata_1.csv")
july_df = pd.read_csv(july)

aug = Path("8_August/202308-citibike-tripdata_1.csv")
aug_df = pd.read_csv(aug)

sept = Path("9_September/202309-citibike-tripdata_1.csv")
sept_df = pd.read_csv(sept)

oct = Path("10_October/202310-citibike-tripdata_1.csv")
oct_df = pd.read_csv(oct)

nov = Path("11_November/202311-citibike-tripdata_1.csv")
nov_df = pd.read_csv(nov)

dec = Path("12_December/202312-citibike-tripdata_1.csv")
dec_df = pd.read_csv(dec)

/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jan_df = pd.read_csv(jan)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  feb_df = pd.read_csv(feb)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  march_df = pd.read_csv(march)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:11: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  april_df = pd.read_csv(april)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:14: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  may_df = pd.read_csv(may)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:17: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_df = pd.read_csv(june)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:20: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  july_df = pd.read_csv(july)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:23: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  aug_df = pd.read_csv(aug)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  sept_df = pd.read_csv(sept)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:29: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  oct_df = pd.read_csv(oct)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:32: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  nov_df = pd.read_csv(nov)
/var/folders/_9/j54ltg0d4f37pmf_p10lk54m0000gq/T/ipykernel_20213/3881397944.py:35: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dec_df = pd.read_csv(dec)

In [6]:
jan2_df = jan_df.sample(n=100000)
feb2_df = feb_df.sample(n=100000)
march2_df = march_df.sample(n=100000)
april2_df = april_df.sample(n=100000)
may2_df = may_df.sample(n=100000)
june2_df = june_df.sample(n=100000)
july2_df = july_df.sample(n=100000)
aug2_df = aug_df.sample(n=100000)
sept2_df = sept_df.sample(n=100000)
oct2_df = oct_df.sample(n=100000)
nov2_df = nov_df.sample(n=100000)
dec2_df = dec_df.sample(n=100000)

In [7]:
combo_df = pd.concat([jan2_df, feb2_df, march2_df, april2_df, may2_df, june2_df, july2_df, aug2_df, sept2_df, oct2_df, nov2_df, dec2_df], axis=0)
len(combo_df)

1200000

In [8]:
combo_df['started_at'] = pd.to_datetime(combo_df['started_at'], format='%Y-%m-%d %H:%M:%S')
combo_df['ended_at'] = pd.to_datetime(combo_df['ended_at'], format='%Y-%m-%d %H:%M:%S')

In [9]:
combo_df['start_date'] = pd.to_datetime(combo_df['started_at']).dt.date
combo_df['start_time'] = pd.to_datetime(combo_df['started_at']).dt.time
combo_df['end_date'] = pd.to_datetime(combo_df['ended_at']).dt.date
combo_df['end_time'] = pd.to_datetime(combo_df['ended_at']).dt.time
combo_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
567131,7C886F90E4F982CA,classic_bike,2023-01-15 18:55:08,2023-01-15 19:07:58,Bergen St & Flatbush Ave,4281.08,Carroll St & Smith St,4225.14,40.680945,-73.975673,40.680611,-73.994758,member,2023-01-15,18:55:08,2023-01-15,19:07:58
21241,DE1CFD17A9C0F2A9,electric_bike,2023-01-01 20:19:20,2023-01-01 20:22:15,Windsor Pl & 8 Ave,3620.02,10 St & 7 Ave,3762.08,40.660906,-73.983074,40.666208,-73.981999,member,2023-01-01,20:19:20,2023-01-01,20:22:15
45049,020A097EEF706350,classic_bike,2023-01-03 08:13:51,2023-01-03 08:21:10,W 59 St & 10 Ave,7023.04,E 59 St & Madison Ave,6801.01,40.770596,-73.987946,40.763505,-73.971092,member,2023-01-03,08:13:51,2023-01-03,08:21:10
448606,0383A499F91476E3,electric_bike,2023-01-28 18:25:30,2023-01-28 18:30:47,Allen St & Hester St,5342.1,St Marks Pl & 1 Ave,5626.13,40.716059,-73.991908,40.727791,-73.985649,casual,2023-01-28,18:25:30,2023-01-28,18:30:47
479184,898D9FC3119C9DC5,classic_bike,2023-01-02 20:00:21,2023-01-02 20:29:53,6 Ave & Walker St,5430.1,7 Ave & 20 St,3588.01,40.719679,-74.005051,40.659053,-73.988540,member,2023-01-02,20:00:21,2023-01-02,20:29:53

In [10]:
combo_df["trip_duration"] = (pd.to_datetime(combo_df["end_time"].astype(str), format='%H:%M:%S') - pd.to_datetime(combo_df["start_time"].astype(str), format='%H:%M:%S'))
combo_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,trip_duration
567131,7C886F90E4F982CA,classic_bike,2023-01-15 18:55:08,2023-01-15 19:07:58,Bergen St & Flatbush Ave,4281.08,Carroll St & Smith St,4225.14,40.680945,-73.975673,40.680611,-73.994758,member,2023-01-15,18:55:08,2023-01-15,19:07:58,0 days 00:12:50
21241,DE1CFD17A9C0F2A9,electric_bike,2023-01-01 20:19:20,2023-01-01 20:22:15,Windsor Pl & 8 Ave,3620.02,10 St & 7 Ave,3762.08,40.660906,-73.983074,40.666208,-73.981999,member,2023-01-01,20:19:20,2023-01-01,20:22:15,0 days 00:02:55
45049,020A097EEF706350,classic_bike,2023-01-03 08:13:51,2023-01-03 08:21:10,W 59 St & 10 Ave,7023.04,E 59 St & Madison Ave,6801.01,40.770596,-73.987946,40.763505,-73.971092,member,2023-01-03,08:13:51,2023-01-03,08:21:10,0 days 00:07:19
448606,0383A499F91476E3,electric_bike,2023-01-28 18:25:30,2023-01-28 18:30:47,Allen St & Hester St,5342.1,St Marks Pl & 1 Ave,5626.13,40.716059,-73.991908,40.727791,-73.985649,casual,2023-01-28,18:25:30,2023-01-28,18:30:47,0 days 00:05:17
479184,898D9FC3119C9DC5,classic_bike,2023-01-02 20:00:21,2023-01-02 20:29:53,6 Ave & Walker St,5430.1,7 Ave & 20 St,3588.01,40.719679,-74.005051,40.659053,-73.988540,member,2023-01-02,20:00:21,2023-01-02,20:29:53,0 days 00:29:32

In [14]:
combo_df['trip_duration'] = combo_df['trip_duration']/pd.Timedelta(minutes=1)
combo_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,trip_duration
567131,7C886F90E4F982CA,classic_bike,2023-01-15 18:55:08,2023-01-15 19:07:58,Bergen St & Flatbush Ave,4281.08,Carroll St & Smith St,4225.14,40.680945,-73.975673,40.680611,-73.994758,member,2023-01-15,18:55:08,2023-01-15,19:07:58,12.833333
21241,DE1CFD17A9C0F2A9,electric_bike,2023-01-01 20:19:20,2023-01-01 20:22:15,Windsor Pl & 8 Ave,3620.02,10 St & 7 Ave,3762.08,40.660906,-73.983074,40.666208,-73.981999,member,2023-01-01,20:19:20,2023-01-01,20:22:15,2.916667
45049,020A097EEF706350,classic_bike,2023-01-03 08:13:51,2023-01-03 08:21:10,W 59 St & 10 Ave,7023.04,E 59 St & Madison Ave,6801.01,40.770596,-73.987946,40.763505,-73.971092,member,2023-01-03,08:13:51,2023-01-03,08:21:10,7.316667
448606,0383A499F91476E3,electric_bike,2023-01-28 18:25:30,2023-01-28 18:30:47,Allen St & Hester St,5342.1,St Marks Pl & 1 Ave,5626.13,40.716059,-73.991908,40.727791,-73.985649,casual,2023-01-28,18:25:30,2023-01-28,18:30:47,5.283333
479184,898D9FC3119C9DC5,classic_bike,2023-01-02 20:00:21,2023-01-02 20:29:53,6 Ave & Walker St,5430.1,7 Ave & 20 St,3588.01,40.719679,-74.005051,40.659053,-73.988540,member,2023-01-02,20:00:21,2023-01-02,20:29:53,29.533333

In [20]:
df = combo_df.loc[combo_df['rideable_type'] == 'docked_bike']
df['trip_duration'].mean()

-4.919637737816003

In [23]:
def haversine(lat1, lon1, lat2, lon2):
    
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

   
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371 
    return c * r

In [24]:
combo_df['Distance_traveled'] = haversine(combo_df['start_lat'].shift(), combo_df['start_lng'].shift(), combo_df['end_lat'], combo_df['end_lng'])
combo_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,trip_duration,Distance_traveled
567131,7C886F90E4F982CA,classic_bike,2023-01-15 18:55:08,2023-01-15 19:07:58,Bergen St & Flatbush Ave,4281.08,Carroll St & Smith St,4225.14,40.680945,-73.975673,40.680611,-73.994758,member,2023-01-15,18:55:08,2023-01-15,19:07:58,12.833333,NaN
21241,DE1CFD17A9C0F2A9,electric_bike,2023-01-01 20:19:20,2023-01-01 20:22:15,Windsor Pl & 8 Ave,3620.02,10 St & 7 Ave,3762.08,40.660906,-73.983074,40.666208,-73.981999,member,2023-01-01,20:19:20,2023-01-01,20:22:15,2.916667,1.723317
45049,020A097EEF706350,classic_bike,2023-01-03 08:13:51,2023-01-03 08:21:10,W 59 St & 10 Ave,7023.04,E 59 St & Madison Ave,6801.01,40.770596,-73.987946,40.763505,-73.971092,member,2023-01-03,08:13:51,2023-01-03,08:21:10,7.316667,11.453133
448606,0383A499F91476E3,electric_bike,2023-01-28 18:25:30,2023-01-28 18:30:47,Allen St & Hester St,5342.1,St Marks Pl & 1 Ave,5626.13,40.716059,-73.991908,40.727791,-73.985649,casual,2023-01-28,18:25:30,2023-01-28,18:30:47,5.283333,4.763616
479184,898D9FC3119C9DC5,classic_bike,2023-01-02 20:00:21,2023-01-02 20:29:53,6 Ave & Walker St,5430.1,7 Ave & 20 St,3588.01,40.719679,-74.005051,40.659053,-73.988540,member,2023-01-02,20:00:21,2023-01-02,20:29:53,29.533333,6.345097

In [33]:
combo_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
start_date                    object
start_time                    object
end_date                      object
end_time                      object
trip_duration                float64
Distance_traveled            float64
dtype: object

In [36]:
new_df = combo_df[['ride_id', 'start_date', 'started_at']].copy()
new_df['started_at'] = pd.to_datetime(new_df['started_at']).dt.hour
new_df.head()

                 ride_id  start_date  started_at
567131  7C886F90E4F982CA  2023-01-15          18
21241   DE1CFD17A9C0F2A9  2023-01-01          20
45049   020A097EEF706350  2023-01-03           8
448606  0383A499F91476E3  2023-01-28          18
479184  898D9FC3119C9DC5  2023-01-02          20

In [38]:
new_df.to_csv('Hourly.csv', index=False)

In [29]:
combo_df.to_csv('Combined_Samples_2023.csv', index=False)